<%= stylesheet_link_tag "homepage", "data-turbo-track": "reload" %>

<div class="homepage container-fluid text-center">
  <div class="row h-100">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
      <h1>Welcome to Website</h1>
      <%= link_to "Click here to sign up", new_user_registration_path, class: "btn btn-lg" %>
    </div>
  </div>
</div>
